business-assistant-box-backups/backup-20260710-154747/business-assistant-box/dist/business-assistant-box-single/n8n/workflows/standard/rag-query.json
{
  "name": "[BAB] RAG Query",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "business/rag-query",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "trigger-1",
      "name": "RAG Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "rag-query"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key={{$env.GOOGLE_API_KEY}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: 'Extract the core search intent from this user question. Return only 2-3 key phrases for semantic search, no explanation:\\n\\nQuestion: ' + $json.body.query }] }] }) }}"
      },
      "id": "gemini-extract",
      "name": "Gemini \u2014 Extract Search Terms",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://us-central1-aiplatform.googleapis.com/v1/projects/{{$env.GOOGLE_PROJECT_ID}}/locations/{{$env.GOOGLE_LOCATION}}/publishers/google/models/text-embedding-004:predict",
        "authentication": "predefinedCredentialType",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ instances: [{ content: $json.body.query }] }) }}"
      },
      "id": "embed-query",
      "name": "Embed Query \u2014 Vertex AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT title, chunk_text, source_file, 1 - (embedding <=> $1::vector) AS similarity FROM rag_chunks WHERE client_name = $2 ORDER BY embedding <=> $1::vector LIMIT 5",
        "options": {}
      },
      "id": "pgvector-search",
      "name": "pgvector \u2014 Similarity Search",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        660,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "8FrndbcfoT3Hqb5P",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key={{$env.GOOGLE_API_KEY}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: 'You are a business assistant. Answer the user\\'s question using ONLY the following business context. If the context doesn\\'t contain the answer, say so.\\n\\nContext:\\n' + $json.chunks.map(c => c.chunk_text).join('\\n---\\n') + '\\n\\nQuestion: ' + $json.original_query + '\\n\\nAnswer concisely and professionally.' }] }] }) }}"
      },
      "id": "gemini-answer",
      "name": "Gemini \u2014 Generate Answer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ answer: $json.candidates[0].content.parts[0].text, sources: $json.chunks?.map(c => c.source_file) || [], query: $json.original_query }) }}"
      },
      "id": "respond",
      "name": "Respond with Answer",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1100,
        0
      ]
    }
  ],
  "connections": {
    "RAG Webhook": {
      "main": [
        [
          {
            "node": "Gemini \u2014 Extract Search Terms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini \u2014 Extract Search Terms": {
      "main": [
        [
          {
            "node": "Embed Query \u2014 Vertex AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embed Query \u2014 Vertex AI": {
      "main": [
        [
          {
            "node": "pgvector \u2014 Similarity Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pgvector \u2014 Similarity Search": {
      "main": [
        [
          {
            "node": "Gemini \u2014 Generate Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini \u2014 Generate Answer": {
      "main": [
        [
          {
            "node": "Respond with Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "standard"
    },
    {
      "name": "rag"
    }
  ],
  "id": "b10667b7ca634bf4"
}