business-assistant-box-backups/backup-20260710-154747/business-assistant-box/dist/business-assistant-box-multi/n8n/workflows/selectable/report-generator.json
{
  "name": "[BAB] Report Generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * 1"
            }
          ]
        }
      },
      "id": "trigger-1",
      "name": "Every Monday 7 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/{{$env.METRICS_SHEET_ID}}/values/Metrics!A:F",
        "authentication": "oAuth2"
      },
      "id": "fetch-metrics",
      "name": "Fetch Weekly Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        -100
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as total_queries, AVG(1 - (embedding <=> (SELECT embedding FROM rag_chunks LIMIT 1))) as avg_similarity FROM rag_chunks WHERE client_name = $1 AND created_at > NOW() - INTERVAL '7 days'",
        "options": {}
      },
      "id": "fetch-ai-usage",
      "name": "Fetch AI Usage Stats",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        220,
        100
      ],
      "credentials": {
        "postgres": {
          "id": "8FrndbcfoT3Hqb5P",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-data",
      "name": "Merge All Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key={{$env.GOOGLE_API_KEY}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: 'Generate a weekly business report for a small business owner. Include:\\n\\n1. EXECUTIVE SUMMARY (2-3 sentences)\\n2. KEY METRICS \u2014 compare to previous week if data available\\n3. AI ASSISTANT USAGE \u2014 how the AI helped this week\\n4. RECOMMENDATIONS \u2014 3 actionable items for next week\\n5. ALERTS \u2014 anything that needs immediate attention\\n\\nBusiness metrics data: ' + JSON.stringify($json.metrics || {}) + '\\nAI usage stats: ' + JSON.stringify($json.ai_usage || {}) + '\\nWeek ending: ' + new Date().toISOString().split('T')[0] + '\\n\\nFormat as a clean, professional report. Keep under 500 words.' }] }] }) }}"
      },
      "id": "gemini-report",
      "name": "Gemini \u2014 Generate Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.N8N_BASE_URL}}/webhook/business/approval-router",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'weekly_report_email', report: $json.candidates[0].content.parts[0].text, week_ending: new Date().toISOString().split('T')[0], requires_approval: false }) }}"
      },
      "id": "deliver-report",
      "name": "Deliver Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        0
      ]
    }
  ],
  "connections": {
    "Every Monday 7 AM": {
      "main": [
        [
          {
            "node": "Fetch Weekly Metrics",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch AI Usage Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Weekly Metrics": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch AI Usage Stats": {
      "main": [
        [
          {
            "node": "Merge All Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All Data": {
      "main": [
        [
          {
            "node": "Gemini \u2014 Generate Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini \u2014 Generate Report": {
      "main": [
        [
          {
            "node": "Deliver Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "selectable"
    },
    {
      "name": "reporting"
    }
  ],
  "id": "526a182aeeff423e"
}