business-assistant-box/n8n/workflows/standard/daily-briefing.json
{
  "name": "[BAB] Daily Briefing",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 6 * * 1-5"
            }
          ]
        }
      },
      "id": "trigger-1",
      "name": "Weekdays 6:30 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/calendar/v3/calendars/primary/events",
        "authentication": "oAuth2",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "timeMin",
              "value": "={{ new Date().toISOString() }}"
            },
            {
              "name": "timeMax",
              "value": "={{ new Date(Date.now() + 86400000).toISOString() }}"
            },
            {
              "name": "singleEvents",
              "value": "true"
            },
            {
              "name": "orderBy",
              "value": "startTime"
            }
          ]
        }
      },
      "id": "fetch-calendar",
      "name": "Fetch Today's Calendar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        -100
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "GCAL_CREDENTIAL_ID",
          "name": "Google Calendar OAuth2"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://gmail.googleapis.com/gmail/v1/users/me/messages",
        "authentication": "oAuth2",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "is:unread"
            },
            {
              "name": "maxResults",
              "value": "20"
            }
          ]
        }
      },
      "id": "fetch-emails",
      "name": "Fetch Unread Emails",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        100
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-data",
      "name": "Merge Calendar + Email",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key={{$env.GOOGLE_API_KEY}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ contents: [{ parts: [{ text: 'You are a business briefing assistant. Compile a morning briefing for the business owner. Include:\\n\\n1. TODAY\\'S SCHEDULE \u2014 meetings, deadlines, appointments\\n2. PENDING ACTIONS \u2014 emails needing response, approvals waiting\\n3. PRIORITIES \u2014 top 3 things to focus on today\\n4. REMINDERS \u2014 follow-ups due, deadlines approaching\\n\\nCalendar events: ' + JSON.stringify($json.calendar_events || []) + '\\n\\nUnread emails (count): ' + ($json.email_count || 0) + '\\n\\nFormat as a clean, scannable briefing. Keep it under 300 words.' }] }] }) }}"
      },
      "id": "gemini-briefing",
      "name": "Gemini \u2014 Generate Briefing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "briefing",
              "value": "={{ $json.candidates[0].content.parts[0].text }}"
            },
            {
              "name": "generated_at",
              "value": "={{ new Date().toISOString() }}"
            },
            {
              "name": "status",
              "value": "delivered"
            }
          ]
        }
      },
      "id": "format-output",
      "name": "Format Briefing",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        0
      ]
    }
  ],
  "connections": {
    "Weekdays 6:30 AM": {
      "main": [
        [
          {
            "node": "Fetch Today's Calendar",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Unread Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Today's Calendar": {
      "main": [
        [
          {
            "node": "Merge Calendar + Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Unread Emails": {
      "main": [
        [
          {
            "node": "Merge Calendar + Email",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Calendar + Email": {
      "main": [
        [
          {
            "node": "Gemini \u2014 Generate Briefing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini \u2014 Generate Briefing": {
      "main": [
        [
          {
            "node": "Format Briefing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "standard"
    },
    {
      "name": "briefing"
    }
  ],
  "id": "0dd54450c0be4eab"
}