business-assistant-box/n8n/workflows/standard/email-triage.json
{
  "name": "[BAB] Email Triage",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "trigger-1",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gmail.googleapis.com/gmail/v1/users/me/messages",
        "authentication": "oAuth2",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "is:unread newer_than:1h"
            },
            {
              "name": "maxResults",
              "value": "10"
            }
          ]
        }
      },
      "id": "gmail-fetch",
      "name": "Fetch Unread Emails",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false
          },
          "conditions": [
            {
              "leftValue": "={{ $json.messages }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty"
              }
            }
          ]
        }
      },
      "id": "has-emails",
      "name": "Has New Emails?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: (.OLLAMA_MODEL || 'qwen3:14b'), prompt: 'You are an email triage assistant for a small business. Classify the following email into one of: URGENT, ROUTINE, SPAM, REQUIRES_RESPONSE, INFORMATIONAL. Then draft a brief response if needed.\\n\\nSubject: ' + $json.subject + '\\nFrom: ' + $json.from + '\\nBody: ' + $json.snippet + '\\n\\nRespond in JSON format: {\"classification\": \"...\", \"priority\": 1-5, \"draft_response\": \"...\", \"action\": \"respond|archive|flag|delete\"}', stream: false }) }}"
      },
      "id": "ollama-classify",
      "name": "Ollama \u2014 Classify Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        -100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.classification }}",
              "rightValue": "URGENT",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "is-urgent",
      "name": "Is Urgent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.N8N_BASE_URL}}/webhook/business/approval-router",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'email_response', email_id: $json.id, draft: $json.draft_response, classification: $json.classification, requires_approval: true }) }}"
      },
      "id": "send-approval",
      "name": "Route to Approval",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        -200
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "archived"
            },
            {
              "name": "action",
              "value": "={{ $json.action }}"
            }
          ]
        }
      },
      "id": "log-routine",
      "name": "Log Routine Email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1100,
        0
      ]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Fetch Unread Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Unread Emails": {
      "main": [
        [
          {
            "node": "Has New Emails?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has New Emails?": {
      "main": [
        [
          {
            "node": "Ollama \u2014 Classify Email",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Ollama \u2014 Classify Email": {
      "main": [
        [
          {
            "node": "Is Urgent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Urgent?": {
      "main": [
        [
          {
            "node": "Route to Approval",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Routine Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "standard"
    },
    {
      "name": "email"
    }
  ],
  "id": "52ca26fdf4e248bd"
}