business-assistant-box-backups/backup-20260713-125326/business-assistant-box/n8n/workflows/selectable/lead-followup.json
{
  "name": "[BAB] Lead Follow-Up",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1-5"
            }
          ]
        }
      },
      "id": "trigger-1",
      "name": "Weekdays 9 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/{{$env.LEADS_SHEET_ID}}/values/Leads!A:J",
        "authentication": "oAuth2"
      },
      "id": "fetch-leads",
      "name": "Fetch Leads from Sheets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const leads = $input.first().json.values || [];\nconst headers = leads[0] || [];\nconst today = new Date();\nconst results = [];\n\nfor (let i = 1; i < leads.length; i++) {\n  const row = leads[i];\n  const status = row[headers.indexOf('status')] || '';\n  const lastContact = row[headers.indexOf('last_contact')] || '';\n  const daysSince = lastContact ? Math.floor((today - new Date(lastContact)) / 86400000) : 999;\n  \n  if (status === 'active' && daysSince >= 3) {\n    results.push({\n      name: row[headers.indexOf('name')] || '',\n      email: row[headers.indexOf('email')] || '',\n      service: row[headers.indexOf('service_interest')] || '',\n      last_contact: lastContact,\n      days_since: daysSince,\n      touchpoints: parseInt(row[headers.indexOf('touchpoints')] || '0'),\n      row_index: i + 1\n    });\n  }\n}\n\nreturn results.map(r => ({ json: r }));"
      },
      "id": "filter-due",
      "name": "Filter Leads Due for Follow-Up",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: (.OLLAMA_MODEL || 'qwen3:14b'), prompt: 'Write a brief, personalized follow-up email for a business lead. Keep it warm, professional, and under 100 words. Do not be pushy.\\n\\nLead name: ' + $json.name + '\\nService interest: ' + $json.service + '\\nDays since last contact: ' + $json.days_since + '\\nPrevious touchpoints: ' + $json.touchpoints + '\\n\\nRespond in JSON: {\"subject\": \"...\", \"body\": \"...\", \"suggested_cta\": \"...\"}', stream: false }) }}"
      },
      "id": "ollama-draft",
      "name": "Ollama \u2014 Draft Follow-Up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.N8N_BASE_URL}}/webhook/business/approval-router",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'lead_followup_email', recipient: $json.email, lead_name: $json.name, subject: $json.subject, draft: $json.body, requires_approval: true }) }}"
      },
      "id": "send-approval",
      "name": "Route for Approval",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        0
      ]
    }
  ],
  "connections": {
    "Weekdays 9 AM": {
      "main": [
        [
          {
            "node": "Fetch Leads from Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Leads from Sheets": {
      "main": [
        [
          {
            "node": "Filter Leads Due for Follow-Up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Leads Due for Follow-Up": {
      "main": [
        [
          {
            "node": "Ollama \u2014 Draft Follow-Up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama \u2014 Draft Follow-Up": {
      "main": [
        [
          {
            "node": "Route for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "selectable"
    },
    {
      "name": "leads"
    },
    {
      "name": "nurture"
    }
  ],
  "id": "bdb6049f4f4b436e"
}