business-assistant-box-backups/backup-20260717-231615/business-assistant-box/n8n/workflows/selectable/voicemail-transcription.json
{
  "name": "[BAB] Voicemail Transcription",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "business/voicemail",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "trigger-1",
      "name": "Voicemail Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "voicemail"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: (.OLLAMA_MODEL || 'qwen3:14b'), prompt: 'Analyze this voicemail transcription text and extract structured information.\\n\\nTranscription/message: ' + ($json.body.transcription_text || $json.body.message || 'No transcription available') + '\\n\\nRespond in JSON: {\"transcription\": \"...\", \"caller_name\": \"...\", \"caller_phone\": \"...\", \"urgency\": \"urgent|normal|low\", \"category\": \"...\", \"summary\": \"...\", \"callback_requested\": true/false, \"action_items\": [...]}', stream: false }) }}"
      },
      "id": "ollama-transcribe",
      "name": "Ollama \u2014 Analyze Voicemail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.urgency }}",
              "rightValue": "urgent",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "is-urgent",
      "name": "Is Urgent?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.N8N_BASE_URL}}/webhook/business/approval-router",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'urgent_voicemail', caller: $json.caller_name, phone: $json.caller_phone, summary: $json.summary, transcription: $json.transcription, action_items: $json.action_items, requires_approval: false }) }}"
      },
      "id": "flag-urgent",
      "name": "Flag as Urgent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/{{$env.VOICEMAIL_SHEET_ID}}/values/Voicemails!A:H:append",
        "authentication": "oAuth2",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "valueInputOption",
              "value": "USER_ENTERED"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ values: [[ new Date().toISOString(), $json.caller_name || 'Unknown', $json.caller_phone || '', $json.urgency, $json.category, $json.summary, $json.callback_requested, $json.transcription ]] }) }}"
      },
      "id": "sheets-log",
      "name": "Log to Voicemail Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        100
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, transcription: $json.transcription, caller: $json.caller_name, urgency: $json.urgency, summary: $json.summary, callback_requested: $json.callback_requested, action_items: $json.action_items }) }}"
      },
      "id": "respond",
      "name": "Respond \u2014 Processed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        0
      ]
    }
  ],
  "connections": {
    "Voicemail Webhook": {
      "main": [
        [
          {
            "node": "Ollama \u2014 Analyze Voicemail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama \u2014 Analyze Voicemail": {
      "main": [
        [
          {
            "node": "Is Urgent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Urgent?": {
      "main": [
        [
          {
            "node": "Flag as Urgent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log to Voicemail Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flag as Urgent": {
      "main": [
        [
          {
            "node": "Respond \u2014 Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Voicemail Sheet": {
      "main": [
        [
          {
            "node": "Respond \u2014 Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "selectable"
    },
    {
      "name": "voicemail"
    },
    {
      "name": "transcription"
    }
  ],
  "id": "31c28f3828c14a32"
}