business-assistant-box-backups/backup-20260713-125326/business-assistant-box/n8n/workflows/standard/approval-router.json
{
  "name": "[BAB] Approval Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "business/approval-router",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "trigger-1",
      "name": "Approval Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "approval-router"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.body.requires_approval }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "needs-approval",
      "name": "Needs Human Approval?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "approval_id",
              "value": "={{ $json.body.type + '_' + Date.now() }}"
            },
            {
              "name": "type",
              "value": "={{ $json.body.type }}"
            },
            {
              "name": "status",
              "value": "pending"
            },
            {
              "name": "payload",
              "value": "={{ JSON.stringify($json.body) }}"
            },
            {
              "name": "created_at",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "create-approval",
      "name": "Create Approval Record",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        440,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: (.OLLAMA_MODEL || 'qwen3:14b'), prompt: 'Summarize this pending approval for a business owner in 2-3 sentences. Make it clear what action is being requested and why it needs approval:\\n\\nType: ' + $json.type + '\\nPayload: ' + $json.payload, stream: false }) }}"
      },
      "id": "ollama-summarize",
      "name": "Ollama \u2014 Summarize for Owner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        -100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, approval_id: $json.approval_id, status: 'pending', summary: $json.response || 'Approval queued' }) }}"
      },
      "id": "respond-pending",
      "name": "Respond \u2014 Pending",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        -100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, status: 'auto_approved', message: 'Action does not require approval \u2014 executing immediately' }) }}"
      },
      "id": "respond-auto",
      "name": "Respond \u2014 Auto Approved",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        100
      ]
    }
  ],
  "connections": {
    "Approval Webhook": {
      "main": [
        [
          {
            "node": "Needs Human Approval?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Human Approval?": {
      "main": [
        [
          {
            "node": "Create Approval Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond \u2014 Auto Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Approval Record": {
      "main": [
        [
          {
            "node": "Ollama \u2014 Summarize for Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama \u2014 Summarize for Owner": {
      "main": [
        [
          {
            "node": "Respond \u2014 Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "standard"
    },
    {
      "name": "approval"
    }
  ],
  "id": "d1aa09dc031a4414"
}