business-assistant-box-backups/backup-20260713-125326/business-assistant-box/n8n/workflows/standard/daily-briefing.json
{
  "name": "[BAB] Daily Briefing",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 6 * * 1-5"
            }
          ]
        }
      },
      "id": "trigger-1",
      "name": "Weekdays 6:30 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/calendar/v3/calendars/primary/events",
        "authentication": "oAuth2",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "timeMin",
              "value": "={{ new Date().toISOString() }}"
            },
            {
              "name": "timeMax",
              "value": "={{ new Date(Date.now() + 86400000).toISOString() }}"
            },
            {
              "name": "singleEvents",
              "value": "true"
            },
            {
              "name": "orderBy",
              "value": "startTime"
            }
          ]
        }
      },
      "id": "fetch-calendar",
      "name": "Fetch Today's Calendar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        -100
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "GCAL_CREDENTIAL_ID",
          "name": "Google Calendar OAuth2"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://gmail.googleapis.com/gmail/v1/users/me/messages",
        "authentication": "oAuth2",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "is:unread"
            },
            {
              "name": "maxResults",
              "value": "20"
            }
          ]
        }
      },
      "id": "fetch-emails",
      "name": "Fetch Unread Emails",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        100
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-data",
      "name": "Merge Calendar + Email",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: (.OLLAMA_MODEL || 'qwen3:14b'), prompt: 'You are a business briefing assistant. Compile a morning briefing for the business owner. Include:\\n\\n1. TODAY\\'S SCHEDULE \u2014 meetings, deadlines, appointments\\n2. PENDING ACTIONS \u2014 emails needing response, approvals waiting\\n3. PRIORITIES \u2014 top 3 things to focus on today\\n4. REMINDERS \u2014 follow-ups due, deadlines approaching\\n\\nCalendar events: ' + JSON.stringify($json.calendar_events || []) + '\\n\\nUnread emails (count): ' + ($json.email_count || 0) + '\\n\\nFormat as a clean, scannable briefing. Keep it under 300 words.', stream: false }) }}"
      },
      "id": "ollama-briefing",
      "name": "Ollama \u2014 Generate Briefing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "briefing",
              "value": "={{ $json.response }}"
            },
            {
              "name": "generated_at",
              "value": "={{ new Date().toISOString() }}"
            },
            {
              "name": "status",
              "value": "delivered"
            }
          ]
        }
      },
      "id": "format-output",
      "name": "Format Briefing",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst briefing = $input.first().json.briefing;\nconst now = new Date();\nconst dateStr = now.toISOString().split('T')[0];\nconst dayStr = now.toLocaleDateString('en-US', { weekday: 'long' });\n\nconst todayMd = `# TODAY.md\n\n## Purpose\n\nProvide the Business Assistant with current operational context.\n\nThis file is refreshed daily by the Daily Briefing workflow.\n\n---\n\nDate: ${dateStr}\n\nDay: ${dayStr}\n\n---\n\n${briefing}\n`;\n\nconst todayPath = '/home/node/.n8n/storage/TODAY.md';\nfs.writeFileSync(todayPath, todayMd);\n\nreturn [{ json: { written: true, path: todayPath, date: dateStr } }];"
      },
      "id": "write-today",
      "name": "Write TODAY.md",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ]
    }
  ],
  "connections": {
    "Weekdays 6:30 AM": {
      "main": [
        [
          {
            "node": "Fetch Today's Calendar",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Unread Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Today's Calendar": {
      "main": [
        [
          {
            "node": "Merge Calendar + Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Unread Emails": {
      "main": [
        [
          {
            "node": "Merge Calendar + Email",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Calendar + Email": {
      "main": [
        [
          {
            "node": "Ollama \u2014 Generate Briefing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama \u2014 Generate Briefing": {
      "main": [
        [
          {
            "node": "Format Briefing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Briefing": {
      "main": [
        [
          {
            "node": "Write TODAY.md",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "standard"
    },
    {
      "name": "briefing"
    }
  ],
  "id": "0dd54450c0be4eab"
}