business-assistant-box/n8n/workflows/selectable/appointment-booking.json
{
  "name": "[BAB] Appointment Booking",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "business/book-appointment",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "trigger-1",
      "name": "Booking Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "book-appointment"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://www.googleapis.com/calendar/v3/freeBusy",
        "authentication": "oAuth2",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ timeMin: $json.body.preferred_date + 'T08:00:00Z', timeMax: $json.body.preferred_date + 'T18:00:00Z', items: [{ id: 'primary' }] }) }}"
      },
      "id": "check-availability",
      "name": "Check Calendar Availability",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "GCAL_CREDENTIAL_ID",
          "name": "Google Calendar OAuth2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: (.OLLAMA_MODEL || 'qwen3:14b'), prompt: 'You are a scheduling assistant. A client wants to book an appointment.\\n\\nClient: ' + $json.body.client_name + '\\nService: ' + $json.body.service_type + '\\nPreferred date: ' + $json.body.preferred_date + '\\nPreferred time: ' + ($json.body.preferred_time || 'any') + '\\nDuration needed: ' + ($json.body.duration_minutes || 60) + ' minutes\\n\\nBusy times on that day: ' + JSON.stringify($json.calendars?.primary?.busy || []) + '\\n\\nFind the best available slot. Respond in JSON: {\"available\": true/false, \"suggested_slot\": {\"start\": \"ISO datetime\", \"end\": \"ISO datetime\"}, \"alternative_slots\": [...], \"confirmation_message\": \"...\"}', stream: false }) }}"
      },
      "id": "ollama-schedule",
      "name": "Ollama \u2014 Find Best Slot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.available }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "is-available",
      "name": "Slot Available?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/calendar/v3/calendars/primary/events",
        "authentication": "oAuth2",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ summary: $json.body.service_type + ' \u2014 ' + $json.body.client_name, start: { dateTime: $json.suggested_slot.start }, end: { dateTime: $json.suggested_slot.end }, attendees: [{ email: $json.body.client_email }], description: 'Booked via Business Assistant Box' }) }}"
      },
      "id": "create-event",
      "name": "Create Calendar Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        -100
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "GCAL_CREDENTIAL_ID",
          "name": "Google Calendar OAuth2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, booked: true, slot: $json.suggested_slot, confirmation: $json.confirmation_message }) }}"
      },
      "id": "respond-booked",
      "name": "Respond \u2014 Booked",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1100,
        -100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, booked: false, message: 'No availability on requested date', alternatives: $json.alternative_slots || [] }) }}"
      },
      "id": "respond-unavailable",
      "name": "Respond \u2014 Unavailable",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        100
      ]
    }
  ],
  "connections": {
    "Booking Webhook": {
      "main": [
        [
          {
            "node": "Check Calendar Availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Calendar Availability": {
      "main": [
        [
          {
            "node": "Ollama \u2014 Find Best Slot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama \u2014 Find Best Slot": {
      "main": [
        [
          {
            "node": "Slot Available?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slot Available?": {
      "main": [
        [
          {
            "node": "Create Calendar Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond \u2014 Unavailable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Calendar Event": {
      "main": [
        [
          {
            "node": "Respond \u2014 Booked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "selectable"
    },
    {
      "name": "scheduling"
    }
  ],
  "id": "7f04fae49c194126"
}