business-assistant-box/n8n/workflows/selectable/customer-intake.json
{
  "name": "[BAB] Customer Intake",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "business/customer-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "trigger-1",
      "name": "Intake Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "customer-intake"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: (.OLLAMA_MODEL || 'qwen3:14b'), prompt: 'You are a customer intake processor for a small business. Process the following new customer information and create a structured profile.\\n\\nRaw intake data:\\nName: ' + ($json.body.name || '') + '\\nEmail: ' + ($json.body.email || '') + '\\nPhone: ' + ($json.body.phone || '') + '\\nService requested: ' + ($json.body.service || '') + '\\nNotes: ' + ($json.body.notes || '') + '\\nSource: ' + ($json.body.source || 'direct') + '\\n\\nRespond in JSON: {\"profile\": {\"name\": \"...\", \"email\": \"...\", \"phone\": \"...\", \"service_category\": \"...\", \"priority\": \"high|medium|low\", \"next_steps\": [...], \"tags\": [...]}, \"welcome_email_draft\": \"...\", \"onboarding_tasks\": [...]}', stream: false }) }}"
      },
      "id": "ollama-process",
      "name": "Ollama \u2014 Process Intake",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets/{{$env.INTAKE_SHEET_ID}}/values/Clients!A:G:append",
        "authentication": "oAuth2",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "valueInputOption",
              "value": "USER_ENTERED"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ values: [[ $json.profile.name, $json.profile.email, $json.profile.phone, $json.profile.service_category, $json.profile.priority, new Date().toISOString(), $json.body.source || 'direct' ]] }) }}"
      },
      "id": "sheets-log",
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.N8N_BASE_URL}}/webhook/business/approval-router",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'customer_welcome_email', recipient: $json.profile.email, draft: $json.welcome_email_draft, customer_name: $json.profile.name, requires_approval: true }) }}"
      },
      "id": "approval-email",
      "name": "Approve Welcome Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, status: 'intake_processed', profile: $json.profile, onboarding_tasks: $json.onboarding_tasks }) }}"
      },
      "id": "respond",
      "name": "Respond \u2014 Intake Complete",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        880,
        0
      ]
    }
  ],
  "connections": {
    "Intake Webhook": {
      "main": [
        [
          {
            "node": "Ollama \u2014 Process Intake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama \u2014 Process Intake": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Google Sheets": {
      "main": [
        [
          {
            "node": "Approve Welcome Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approve Welcome Email": {
      "main": [
        [
          {
            "node": "Respond \u2014 Intake Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "selectable"
    },
    {
      "name": "intake"
    }
  ],
  "id": "a28deafc69eb4e28"
}